.alternative-media-container {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}