.MuiTableHead-root > tr > th {
    font-size: 36px;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

.MuiTableBody-root > tr > th {
    font-size: 36px;
    text-align: center;
    border: 1px solid black;
}
.scoreboard {
    padding-right: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    top: 150px
}

.title {
    font-size: 48px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.paper {
    margin-top: 20px;
}